body {
    line-height: 1.42857143;
    /* background-image: url('../img/background.png') */
}

.background {
    background-color: white
}

.navbar {
    margin-bottom: 10px !important;
    /* For browsers that do not support gradients */
    background: #E6E6E6;
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#E6E6E6, #F2F2F2);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#E6E6E6, #F2F2F2);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#E6E6E6, #F2F2F2);
    /* Standard syntax */
    background: linear-gradient(#E6E6E6, #F2F2F2);
}

.navbar-brand {
    padding-top: 4px;
}

.navbar-brand>img {
    width: 237px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: #3e4095;
}

.panel-primary>.panel-heading {
    color: #fff;
    background-color: #3e4095;
    border-color: #3e4095;
}

.btn-primary {
    background-color: #3e4095;
}

footer {
    padding: 0px 20px 20px 20px !important;
    clear: both;
    font-size: 0.9em;
    color: #34495E;
    /*padding: 5px;*/
    text-align: center;
}

.panel-heading {
    top: -1px;
    position: relative;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 65px;
    vertical-align: middle;
    display: inline-block;
    /* For browsers that do not support gradients */
    background: #E6E6E6;
    /* For Safari 5.1 to 6.0 */
    background: -webkit-linear-gradient(#F2F2F2, #E6E6E6);
    /* For Opera 11.1 to 12.0 */
    background: -o-linear-gradient(#F2F2F2, #E6E6E6);
    /* For Firefox 3.6 to 15 */
    background: -moz-linear-gradient(#F2F2F2, #E6E6E6);
    /* Standard syntax */
    background: linear-gradient(#F2F2F2, #E6E6E6);
}

.nav,
.pagination,
.carousel,
.panel-title a,
.list-group-item>a {
    cursor: pointer;
}

.page-title {
    padding: 0px 20px;
    background: #ffffff;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
    clear: both;
    height: 50px;
}

.page-title .page-header {
    margin: 0;
    padding: 0;
    border-bottom: 0;
}

.page-title .page-header .page-title {
    font-size: 25px;
    font-weight: 300;
    display: inline-block;
    padding-top: 5px;
}

.userVertCenter {
    padding-top: 15px;
}

.divCenter {
    height: 100%;
}

.divCenterEx {
    /* z-order test */
    /* position: absolute; */
    /* default */
    position: fixed;
    z-index: 256;
    top: 50%;
    left: 50%;
    width: 30em;
    height: 18em;
    /*set to a negative number 1/2 of your height*/
    margin-top: -9em;
    /*set to a negative number 1/2 of your width*/
    margin-left: -15em;
    /* border: 1px solid #ccc; */
    /* background-color: #f3f3f3; */
}

.pCenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 45%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.linkimg {
    -webkit-filter: grayscale(100%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.linkimg:hover {
    -webkit-filter: grayscale(0%);
    /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.vertline {
    border-left-style: solid;
    border-left-color: #F2F2F2;
    float: left;
}

.preview {
    background-color: darkgray;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
}

.post-view {
    border-style: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 5px;
    padding: 10px;
}
