.defaultAppStyle {
	background-color: inherit;
	margin: 10px;
	margin-top: 65px;
}

.navbar-img {
	padding: 4px;
}

.navbar-fix {
	padding: 0rem;
}

.footer {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
	/*border-top: 1px outset #e7e7e7; */
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

.footerLinksLeft {
	text-align: left;
}

.footerLinksRight {
	text-align: right;
}

.app-shadow {
	-moz-box-shadow: 2px 2px 15px #ccc;
	-webkit-box-shadow: 2px 2px 15px #ccc;
	box-shadow: 2px 2px 15px #ccc;
}

.exactCenter {
	width:200px;
	height:200px;
	position: fixed;
	/* background-color: #00FF00; */
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -100px;
}

.divCenterEx {
	/* z-order test */
	/* position: absolute; */
	/* default */
	position: fixed;
	z-index: 256;
	top: 50%;
	left: 50%;
	width: 30em;
	height: 18em;
	/*set to a negative number 1/2 of your height*/
	margin-top: -9em;
	/*set to a negative number 1/2 of your width*/
	margin-left: -15em;
	/* border: 1px solid #ccc; */
	/* background-color: #f3f3f3; */
}

.pCenter {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.size-24 {
	width: 24px;
	height: 24px;
}

.link-img {
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.link-img:hover {
	-webkit-filter: grayscale(0%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

.sixFive {
	font-size: 65%;
}

.notFoundImage {
	border-radius: 50%;
	padding: 5px;
	border:3px solid #ebccd1 /*lavenderblush*/;
	cursor: pointer;
}

.screen-backdrop {
	opacity: .5;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1030;
	width: 100vw;
	height: 100vh;
	background-color: #000;
}

.dummy-space {
	min-height: 80px;
	/* background-color: green; */
}

/*
@media (min-width: 992px) {
	.dummy-space {
		display: none;
	}
}
*/

/*@media (min-width: 768px) {
	NavbarImg {
		width: 900px;
	}
}*/

/*
@media all {
	.hidden-print   { display: none; }
}
*/

@media print {
	.hidden-print * {
		display: none !important;
		/* page-break-before: always; */
	}
}

.radio-center {
	padding-top: calc(.375rem + 1px);
	padding-bottom: calc(.375rem + 1px);
}