.DefaultAppStyle {
	background-color: inherit;
	margin: 10px;
	margin-top: 65px;
}

.NavbarImg {
	padding: 4px;
}

.Footer {
	text-align: center;
}

/*@media (min-width: 768px) {
    NavbarImg {
        width: 900px;
    }
}*/
