.load-message-overlay {
	top: 50%;
	max-width: 90%;
	max-height: 90%;
	height: unset;	
	width: 50%;
	/* set to half of the width size*/	
	margin-left: -25%;
	z-index: 1034;
}

/* use this setting to adjust your loader at center of the screen */
.load-img-overlay {
	width: 95px;
	height: 95px;
	/* set to half of the width size*/
	margin-left: -50px; 
	top: 30%;
	max-width: 90%;
	z-index: 1035;
}