.pf-center {
	text-align: center;
}

.pf-panel {
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 8px;
}

.pf-side {
	border-radius: 8px;
	padding: 10px;
}

.pf-side-left {
		position: relative;
		margin-bottom: 0px;
		left: 0px;
		width: 100%;
}

.pf-side-right {
		position: relative;		
		margin-top: 0px;
		left: 0px;
		width: 100%;
}

@media (max-width: 767px) {
	.pf-panel {
		border-radius: 0px;
	}
	.pf-side {
		border-radius: 0px;
	}
	.pf-side-left {
		left: -10px;
		width: 110%;
		margin-bottom: 13px;
	}
	.pf-side-right {
		left: -10px;
		width: 110%;		
		margin-top: 13px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.pf-panel {
		border-radius: 0px;
	}
	.pf-side {
		border-radius: 0px;
	}
	.pf-side-left {
		left: -10px;
		width: 104%;
		margin-bottom: 13px;		
	}
	.pf-side-right {
		left: -10px;
		width: 104%;		
		margin-top: 13px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.pf-panel {
		border-radius: 8px;
	}
	.pf-side {
		border-radius: 8px;
	}
}

@media (min-width: 1200px) {
	.pf-panel {
		border-radius: 8px;
	}
	.pf-side {
		border-radius: 8px;
	}
}