.pf-center {
	text-align: center;
}

.pf-panel {
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 8px;
}

.pf-side-frame-l {
		/*background-color: red;*/
		border-radius: 0px;
		margin-bottom: 20px;
		padding: 10px;
		left: -10px;
		position: relative;
		width: 110%;
}

.pf-side-frame-r {
		/*background-color: red;*/
		border-radius: 0px;
		margin-top: 20px;
		padding: 10px;
		left: -10px;
		position: relative;
		width: 110%;
}

@media (min-width: 768px) {
	.pf-panel {
		border-radius: 0px;
	}
	.pf-side-frame-l {
		/*background-color: green;*/
		border-radius: 0px;
		margin-bottom: 20px;
		left: -10px;
		position: relative;
		width: 104%;
	}
	.pf-side-frame-r {
		/*background-color: green;*/
		border-radius: 0px;
		margin-top: 20px;
		left: -10px;
		position: relative;
		width: 104%;
	}	
}

@media (min-width: 992px) {
	.pf-panel {
		border-radius: 8px;
	}
	.pf-side-frame-l {
		/*background-color: yellow;*/
		border-radius: 8px;
		margin-bottom: 0px;
		left: 0px;
		position: relative;
		width: 100%;		
	}
	.pf-side-frame-r {
		/*background-color: yellow;*/
		border-radius: 8px;
		margin-top: 0px;
		left: 0px;
		position: relative;
		width: 100%;		
	}	
}

@media (min-width: 1200px) {
	.pf-panel {
		border-radius: 8px;
	}
	.pf-side-frame-l {
		/*background-color: blue;*/
		border-radius: 8px;
		margin-bottom: 0px;
	}
	.pf-side-frame-r {
		/*background-color: blue;*/
		border-radius: 8px;
		margin-top: 0px;
	}	
}